
body {
    display: flex;
    flex-direction: column;
    margin: 0;
}


.header {
    background-color: #1f2937;
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 88px;
}

.header-up{
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
    margin-top: 3px; 

}

.logo {
    color :white;
    padding-top: 15px;
    
}

.header-links {
    list-style-type: none;
    display: flex;
    gap : 16px;
    font-size: 13px;

}

a {
    text-decoration: none;
    color: white;
}

.header-content-body{
    display : flex;
}

.header-content-body-one{
    display: flex;
    flex-direction: column;
    padding-right: 30px;
}

.header-main-text{
    color: #f9faf8;
    font-weight: bolder;
    font-size: 40px;
    flex-shrink: 0;
}


.header-description {
    color: #e5e7eb;
    font-size:15px;
    flex-shrink: 0;
}

.header-button  {
    border: none;
    border-radius: 90px;
    border-color: #f9faf8;
    margin-right: 20px;
    width: 90px;
    padding: 8px;
    margin-top: 10px;
}



.header-image {
    border-color: #8daedd;
    color: #fffdfd;
    width: 400px;
    background: #302f2f;

}

/* middle */

.middle-content {
    display: flex;
    flex-direction: column;
}

.middle-content-one {
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
    padding-left: 180px;
    padding-right: 180px;
}

.random-info {
    font-size: 20px;
    font-weight: bold;
    align-self: center;
    padding-top: 30px;
    padding-bottom: 20px;
}

.body-illustration,.illustration-description {
    list-style: none;
    display: flex;

}

.body-illustration {
    justify-content: space-around;
    gap : 16px;
}

.ill {
    width: 130px;
    height: 130px;
    border: 3px solid rgb(50, 115, 214);
    border-radius: 10px;

}
/* middle second */

.middle-content-second {
    display:flex;
    flex-direction: column;
    background: #8daedd;
    padding-left: 180px;
    padding-right: 180px;
    padding-top: 70px;
    padding-bottom: 70px;
}

.inspiring-quote {
    font-size: 20px;
}
.quote-credits {
    font-size: 20px;
    font-weight: bold;
    align-self: flex-end;
}

/* middle third */

.middle-content-third-content {
    display: flex;
    justify-content: center;
    background: #1660c8;
    border: #1f2937;
    border-radius: 10px;
    margin: 100px;
}

.paragraph-1{
    color: white;
    font-size: large;
    margin-bottom: 0;
}
.paragraph-2{
    color: white;
    margin-top: 0;
}

.middle-third-button-container {
    align-self: center;
    padding: 10px;
}

.middle-third-button {
    color: white;
    border-color: white;
    background-color: #1660c8;
    justify-self: center;
}

/*bottom*/
.bottom {
    background: #394049;
    text-align: center;
}
.bottom p {
    color: white;
}