*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Handlee';
    color: #4D4861;
  }

h1 {
    font-size: 60px;
    text-align: center;
}

:root {
    --grid-size: 16;
    --color-value: #fdfdfd; 
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #EDCB96;

}

.etch {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

.option-bar {
    display: flex;
    justify-content: space-around;
    width: 70%;
    /* background: #605770; */
}


#color-picker{
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    appearance: none;
    background-color: transparent;
	width: 100px;
	height: 100px;
    cursor: pointer;

}

#color-picker::-webkit-color-swatch {
    border-radius: 50%;
    border : 2px solid black;
}

#color-picker::-moz-color-swatch{
    border-radius: 50%;
    border : 2px solid black;
}


button {
    background-color: #F7C4A5;
    border: 2px solid #111;
    border-radius: 8px;
    color: #111;
    cursor: pointer;
    font-family: Inter,sans-serif;
    font-size: 16px;
    height: 48px;
    max-width: 100%;
    padding: 0 25px;
    text-align: center;
    align-self: center;
    animation: all 7s ease-in-out;
}
button:hover{
    transform: scale(1.1);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 5px 50px 0 rgba(0,0,0,0.19);
    
}

.container {

    display: grid;
    width: 600px;
    height: 600px;
    margin : 30px 90px 0px 90px;
    padding : 10px;
    background-color: #9E7682;
    grid-template-columns: repeat(var(--grid-size),1fr);
    grid-template-rows: repeat(var(--grid-size),1fr) ;
    border: 5px solid #9E7682;
    border-radius: 6px;
}


#slider{
    width: 60%; 
    margin: 20px;
    align-self: center;
    cursor: pointer;
    background: #4D4861;
    color: #9E7682;
    margin-top: 8px;

}

.square {
    color: black;
    border: 0.1px solid black;
    background: var(--color-value);
    transition: all .2s;
   
}

.drawing{
    background: black;
}

.text,.grid-value{
    font-size: 24px;
    font-weight: bold;
}
.text{
    margin-bottom: 0;
  
    
}

.grid-value {
    margin:0;
}


